@charset "utf-8";

#top {
    position: relative;
    z-index: 9999;
    box-shadow: 0 0 4px #c0c0c0;
}

.top {
    min-height: 206px;

}

.tmenu {
    display: flex;
    max-width: 970px;
    height: 45px;
    margin: 0 auto;
}

.tmenu>div {
    flex: 1;
}


.sns a {
    display: inline-block;

    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
    vertical-align: top; 
    line-height: 16px;
    margin-top: 15px;
    margin-right: 16px;
    transition: opacity .2s;
}

.sns a:hover {
    opacity: 0.8;
}

.sns a.fi-twitter {
    font-size: 13px;
}

.sns a.fi-youtube-play {
    font-size: 11px;
}


.sns a:last-child {
    background: url(../images/sns_kakao.png) center/auto 100%;
}

.sideMenu {
    position: relative;
}

.smbx {
    position: absolute;
    right: 0;
    display: flex;
}

.smbx>li:first-child {
    border-right: 1px solid #e5e5e5;
}


.smbx>li>a {
    display: block;
    padding: 0 13px;
    line-height: 44px;

    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #747474;

}

.smsub {
    position: absolute;
    width: 120px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;

    opacity: 0;
    height: 0;
    overflow: hidden;


}


.smbx>li:hover .smsub {
    opacity: 1;
    height: auto;
    transition: opacity .4s ease-in-out;
}

.smsub a {
    display: block;
    padding: 7px 10px;
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 12px;
    color: #747474;
    background-color: #fff;
    transition: all .2s ease-in-out;
}

.smsub a:hover {
    color: #333;
    background-color: #fafafa;
}

.smbx>li:first-child>a {
    cursor: text;
}

.logo {
    text-align: center;
    font-size: 100%;
}

.logo img {
    vertical-align: bottom;
}


.gnb {
    min-height: 46px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 46px;
    margin-top: 7px;
}

.gnb>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 758px;
    margin: 0 auto;
}

.gnb li {
    margin: 0 23px;
}

.gnb li:last-child a {
    width: 16px;
    height: 16px;
    font-weight: bold;
}

.gnb a {
    transition: color .3s;
}

.gnb a:hover {
    color:blue;
}

#top.on{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}

#top.on .top{
    min-height: auto;
}

#top.on .tmenu{
    display: none;
}

#top.on .logo {
    position: absolute;
    left: 0;
}

#top.on .logo img{
    height: 26px;
    margin: 5px 0 0 7px;
}

#top.on .gnb{
    font-size: 14px;
    box-sizing: border-box;
    padding: 0 107px;
 
}
#top.on .gnb ul{
    max-width: 631px;
}
#top.on .gnb li{
    margin: 0 18px;
}
#top.on .gnb li a{
    color: #333;
}
#top.on .gnb li a:hover{
    color:blue
}

.mobtn{
    position: absolute;
    width: 21px;
    height: 21px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}
/* 모바일용 햄버거 버튼 */
.hbtn{
    left: 10px;
    font-size: 15px;
}
/* 모바일용 검색버튼 */
.sbtn{
    right: 10px;
    font-size: 21px;
    font-weight: bold;
}


.mos{
    padding: 15px 30px;
    background-color: #fff;
    display: none;
}

.mwrap{
    position: relative;
    width: 100%;
    height: 35px;
    background-color: #000;
}

#search{
    position: absolute;
    top: 3px;
    left: 3px;
    right: 50px;
    bottom: 9px;
}

#search input{
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

.scbtn{
    position: absolute;
    top: -3px;
    right: -3px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    font-weight: bold;
}

#mobx{
    padding-left: 15px;
    padding-top: 6px;
    padding-bottom: 30px;
    background-color: #fff;
    display: none;
}

.mognb{
    padding-left: 15px;
}
.mognb a{
    font-family: "Roboto";
    font-size: 25px;
    font-weight: 300;
    line-height: 2;
    color: #333;
}

.mosns{
    margin-top: 24px;
    margin-left: 13px;
}

.mosns a{
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 0 2px 10px;
    font-size: 20px;
    text-align: center;
    vertical-align: top;
    line-height: 40px;
    border: 1px solid #d2d2d2;
    border-radius: 50%;
    box-sizing: border-box;
}
.mosns a.fi-twitter{
    font-size: 16px;
}
.mosns a.fi-youtube-play{
    font-size: 15px;
}
.mosns a:last-child{
    background: url(../images/sns_kakao.png) no-repeat center/auto 50%;
}

.magbox{    
    margin: 0;
    padding: 10px 30px 0 15px;
    font-family: 'NanumBarunGothic', sans-serif;
}
.mcover img{
    width: 100%;
}
.magbox figcaption{
    font-size: 13px;
    line-height: 2;
    color: #222;
}
.magbtn{
    font-size: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    width: 100%;
    font-weight: bold;
    padding: 5px 0;
}
.moblink{
    display: flex;
    margin-left: 15px;
    line-height: 3.5;
    font-size: 15px;
    letter-spacing: -1px;
}
.moblink li+li{
    padding-left: 7px;
}
.moblink a{
    color: #222;
}





.info {
    min-height: 285px;
    background-color: #000;
    box-sizing: border-box;
    padding: 70px;
    font-family: 'Roboto', 'NanumBarunGothic', sans-serif;
}

.blogo {
    text-align: center;
}

.addr {
    font-style: normal;
    text-align: center;
    font-size: 11px;
    color: #747474;
    margin: 20px 0 10px;
}

.blink {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blink a {
    color: #747474;
    font-size: 13px;
    margin: 0 5px;
}

.blink li:last-child a {
    font-weight: bold;
}

.tbtn {
    position: fixed;
    bottom: 0;
    right: 75px;
    width: 48px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: #333;
    border-radius: 4px 4px 0 0;
    color: #fff;
    z-index: 999;
    transition: background-color .3s;
    display: none;

}

.tbtn:hover {
    background-color:blue;
}
