@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@300&display=swap');

@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 300;
    src: url(../fonts/NanumBarunGothicLightSubset.woff) format('woff');
}

@font-face {
    font-family: 'Pistilli';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Pistilli-Roman.woff) format('woff');
}


.ir {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}


.ibx {
    max-width: 1300px;
    margin: 0 auto;
}

.rbx {
    position: relative;

}

.rbx::before {
    content: '';
    display: block;
}

.pt1.rbx::before {
    padding-top: 55.69%;

}

.pt2.rbx::before {
    padding-top: 50%;
}

.rbxIn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.cbx {
    position: relative;
    height: 100%;
 
}

.cbx::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    border: 0px solid transparent;
    transition: all .2s ease-in;
}
.cbx:hover::after {
    border: 20px solid;
}

.cbx h2 {
    position: absolute;
    bottom: 0;
    width: 100%;

    font-family: 'Pistilli', 'NanumBarunGothic';
    font-size: 33px;
    color: #fff;
    text-align: center;
    font-weight: lighter;
    box-sizing: border-box;
    padding: 50px;
    background-image:
        linear-gradient(to top, #000, transparent);

}

.pt2 .rbxIn {
    display: flex;
}

.pt2 .cbx {
    flex: 1;
}

.bgi {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
