@charset "utf-8";

/* 1024px 이하 */
@media only screen and (max-width:1024px) {
    .cbx h2 {
        font-size: 3vw;
        padding: 5vw;
    }

}
/* 500px 이하 */
@media only screen and (max-width:500px) {

    #top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        overflow-y: scroll;
        z-index: 9999;
    }

    #top.hv {
        height: 100vh;
    }

    .tmenu,
    .gnb {
        display: none;
    }

    .logo {
        padding: 10px;
    }

    .logo img {
        width: 130px;
    }

    .top {
        position: relative;
        min-height: auto;
        height: 55px;
        background-color: #fff;
    }

    .mobtn {
        display: block;
    }

    .cont {
        margin-top: 55px;
    }

    .pt2 .cbx:last-child {
        flex: 0;
    }

    .pt1.rbx::before {
        padding-top: 150%;
    }

    .pt2.rbx::before {
        padding-top: 75%;
    }

    .bg1 {
        background-image: url(../images/cont1b.jpg);
    }

    .bg5 {
        background-image: url(../images/cont3b.jpg);
    }

    .bg9 {
        background-image: url(../images/cont5b.jpg);
    }

    .fashion .bg1-1 {
        background-image: url(../images/fashion/cont1-1b.jpg);
    }

    .fashion .bg1-2 {
        background-image: url(../images/fashion/cont1-2b.jpg);
    }

    .fashion .bg1-3 {
        background-image: url(../images/fashion/cont1-3b.jpg);
    }

    .fashion .bg2-1 {
        background-image: url(../images/fashion/cont2-1b.jpg);
    }

    .fashion .bg2-2 {
        background-image: url(../images/fashion/cont2-2b.jpg);
    }

    .fashion .bg2-3 {
        background-image: url(../images/fashion/cont2-3b.jpg);
    }

    .beauty .bg1-1 {
        background-image: url(../images/beauty/cont1-1b.jpg);
    }

    .beauty .bg1-2 {
        background-image: url(../images/beauty/cont1-2b.jpg);
    }

    .beauty .bg1-3 {
        background-image: url(../images/beauty/cont1-3b.jpg);
    }

    .beauty .bg2-1 {
        background-image: url(../images/beauty/cont2-1b.jpg);
    }

    .beauty .bg2-2 {
        background-image: url(../images/beauty/cont2-2b.jpg);
    }

    .beauty .bg2-3 {
        background-image: url(../images/beauty/cont2-3b.jpg);
    }

    .living .bg1-1 {
        background-image: url(../images/living/cont1-1b.jpg);
    }

    .living .bg1-2 {
        background-image: url(../images/living/cont1-2b.jpg);
    }

    .living .bg1-3 {
        background-image: url(../images/living/cont1-3b.jpg);
    }

    .living .bg2-1 {
        background-image: url(../images/living/cont2-1b.jpg);
    }

    .living .bg2-2 {
        background-image: url(../images/living/cont2-2b.jpg);
    }

    .living .bg2-3 {
        background-image: url(../images/living/cont2-3b.jpg);
    }

    .people .bg1-1 {
        background-image: url(../images/people/cont1-1b.jpg);
    }

    .people .bg1-2 {
        background-image: url(../images/people/cont1-2b.jpg);
    }

    .people .bg1-3 {
        background-image: url(../images/people/cont1-3b.jpg);
    }

    .people .bg2-1 {
        background-image: url(../images/people/cont2-1b.jpg);
    }

    .people .bg2-2 {
        background-image: url(../images/people/cont2-2b.jpg);
    }

    .people .bg2-3 {
        background-image: url(../images/people/cont2-3b.jpg);
    }

    .video .bg1-1 {
        background-image: url(../images/video/cont1-1b.jpg);
    }

    .video .bg1-2 {
        background-image: url(../images/video/cont1-2b.jpg);
    }

    .video .bg1-3 {
        background-image: url(../images/video/cont1-3b.jpg);
    }

    .video .bg2-1 {
        background-image: url(../images/video/cont2-1b.jpg);
    }

    .video .bg2-2 {
        background-image: url(../images/video/cont2-2b.jpg);
    }

    .video .bg2-3 {
        background-image: url(../images/video/cont2-3b.jpg);
    }

    .runway .bg1-1 {
        background-image: url(../images/runway/cont1-1b.jpg);
    }

    .runway .bg1-2 {
        background-image: url(../images/runway/cont1-2b.jpg);
    }

    .runway .bg1-3 {
        background-image: url(../images/runway/cont1-3b.jpg);
    }

    .runway .bg2-1 {
        background-image: url(../images/runway/cont2-1b.jpg);
    }

    .runway .bg2-2 {
        background-image: url(../images/runway/cont2-2b.jpg);
    }

    .runway .bg2-3 {
        background-image: url(../images/runway/cont2-3b.jpg);
    }

    /* shopping 서브페이지 */
    .shopping .bg1-1 {
        background-image: url(../images/shopping/cont1-1b.jpg);
    }

    .shopping .bg1-2 {
        background-image: url(../images/shopping/cont1-2b.jpg);
    }

    .shopping .bg1-3 {
        background-image: url(../images/shopping/cont1-3b.jpg);
    }

    .shopping .bg2-1 {
        background-image: url(../images/shopping/cont2-1b.jpg);
    }

    .shopping .bg2-2 {
        background-image: url(../images/shopping/cont2-2b.jpg);
    }

    .shopping .bg2-3 {
        background-image: url(../images/shopping/cont2-3b.jpg);
    }


    /* 10. 컨텐츠 타이틀 변경 */
    .cbx h2 {
        font-size: 5vw;
        padding: 5vw;
    }

    /* 11. 하단박스 */
    .info {
        min-height: auto;
        padding: 40px;
    }

    .blogo img {
        width: 200px;
    }

    .tbtn {
        right: 15px;
        bottom: 100px;
    }


    .cbx:hover::after {
        border-width: 10px;
    }

 
    .stit{
        font-size: 9vw;
        padding: 4vh 0 2vh;
    }
    .lnb {
        padding: 1vh 0 4vh;
    }
    .lnb a {
        font-size: 4vw;
    }
    .tbtn:hover {
        background-color: #333;
    }



}
